<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/" method="post">
      <div class="email">
        <label for="name">Your Gmail</label>
        <input type="email" id="email" name="email" required>
      </div>
      <!--           Calendar               -->
      <div class="calendar">
        <label for="calendar">Calendar</label>
        <!--           DAYS               -->
        <div class="days">
          <% data.forEach( day => {  %>
            <div id="<%= day._id %>">
              <input type="radio"  name="day" value="<%= day._id %>" required>
              <label for="<%= day._id %>"><%= day._id %></label>
            </div>
          <% }); %>
          <!--              
          <div id="Wednesday">
            <label for="Wednesday">Wednesday</label>
            <input type="radio"  name="day" value="Wednesday" required>
          </div>
          <div id="Thursday">
            <label for="Thursday">Thursday</label>
            <input type="radio" name="day" value="Thursday">
          </div>
          -->
        </div>
        <hr>
        <!--           HOURS               -->
        <div>

          <% data.forEach( day => {  %>
            <div class="hours" data-day = "<%= day._id %>">
                <% day.hours.forEach( hour => { %>
                <div class="<%= color[hour.numberOfStudents]%>">
                  <label for="<%= hour.hour %>"><%= hour.title %></label>
                  <%if(hour.numberOfStudents === 10) {%>
                    <input type="radio" name="hour" value="<%= hour.hour %>" disabled>
                  <% }else {%>
                    <input type="radio" name="hour" value="<%= hour.hour %>" required>
                  <% } %>
                </div>
              <% }); %>
            </div>
          <% }); %>
        <!--          Default Hours               -->
        <div class="hours default selected" data-day="Default">
          <div>
            <label for="9">Default</label>
          </div>
          <div>
            <label for="10">Default</label>
          </div>
          <div>
            <label for="11">Default</label>
          </div>
          <div>
            <label for="12">Default</label>
          </div>
          <div>
            <label for="13">Default</label>
          </div>
          <div>
            <label for="14">Default</label>
          </div>
        </div>
      </div>
      <p>Interview duration is maximum 15 minutes.</p>
      <div>
        <% if(error != "") { %>
        <div class="alert">
            <%- error %>
        </div>
        <% } %>
        <% if(success != "") { %>
          <div class="success">
              <%- success %>
          </div>
        <% } %>
        <input type="submit" value="Submit" disabled>
      </div>
    </form>
    <script src="../javascripts/index.js"></script>
    <script id="data" type="application/json"><%- JSON.stringify(step) %></script>
  </body>
</html>
